
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Mochiy+Pop+P+One&family=Open+Sans:ital,wght@1,300&display=swap');


* {
  font-family: 'Mochiy Pop P One', sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  width: 300px;
}